{% load static %}
<script src="{% static 'js/changemode.js' %}"></script>
<script src="{% static 'plugins/global/plugins.bundle.js' %}"></script>
<script src="{% static 'js/scripts.bundle.js' %}"></script>
<script src="{% static 'js/dashboard/agent/script.agent.js' %}"></script>
<script src="{% static 'js/custom/account/script.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" 
    integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'plugins/custom/fullcalendar/fullcalendar.bundle.js' %}"></script>
<script src="{% static 'plugins/custom/datatables/datatables.bundle.js' %}"></script>
<script src="{% static 'js/custom/utilities/modals/create-account.js' %}"></script>
<script src="{% static 'js/widgets.bundle.js' %}"></script>
<script src="{% static 'js/custom/widgets.js' %}"></script>
<script src="{% static 'js/custom/apps/chat/chat.js' %}"></script>
<script src="{% static 'js/custom/utilities/modals/upgrade-plan.js' %}"></script>
<script src="{% static 'js/custom/utilities/modals/create-app.js' %}"></script>
<script src="{% static 'js/custom/utilities/modals/new-target.js' %}"></script>
<script src="{% static 'js/custom/utilities/modals/users-search.js' %}"></script>
<script src="{% static 'js/custom/utilities/modals/create-campaign.js' %}"></script>
<script src="{% static 'js/dashboard/corporate/script.js' %}"></script>
<script src="{% static 'js/dashboard/customer/script.js' %}"></script>
<script src="{% static 'js/custom/account/settings/signin-methods.js' %}"></script>
<script src="{% static 'js/custom/apps/user-management/users/list/table.js' %}"></script>
