<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% include 'base/header.html' %}
</head>
<body>
    <div class="text-center mt-20">
        <div class="text-center">
            <i class="fa-regular fa-circle-check text-success display-1"></i>
        </div>
        <br>
        <h1 class="display-5">Your Information Is Successfully Submitted</h1>
        <span>Our team is verfying your documents, once verify will send you a mail.</span>
        <br><br>
        <a href="https://basculeuw.com/" class="btn btn-success mt-5 shadow btn-lg">Visit our official website</a>
    </div>
</body>
</html>