{% extends 'basculeadmin/base.html' %}


                    {% block content %}
					<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
						
						<div class="toolbar mb-5 mb-lg-7" id="kt_toolbar">
							
							<div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
							
								<div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
								
									<h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1">User Group</h1>
							
									<span class="h-20px border-gray-300 border-start mx-4"></span>
								
									<ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
										
										<li class="breadcrumb-item text-muted">
											<a href="" class="text-muted text-hover-primary">Home</a>
										</li>
								
										<li class="breadcrumb-item">
											<span class="bullet bg-gray-300 w-5px h-2px"></span>
										</li>
									
										<li class="breadcrumb-item text-muted">Group</li>
										
										<li class="breadcrumb-item">
											<span class="bullet bg-gray-300 w-5px h-2px"></span>
										</li>
										
										<li class="breadcrumb-item text-dark">User Group</li>
									
									</ul>
								
								</div>
							
								<div class="d-flex align-items-center py-1">
								
									<div class="me-4">
									
										<a href="#" class="btn btn-sm btn-flex btn-light btn-active-primary fw-bolder" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">
						
										<span class="svg-icon svg-icon-5 svg-icon-gray-500 me-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
												<path d="M19.0759 3H4.72777C3.95892 3 3.47768 3.83148 3.86067 4.49814L8.56967 12.6949C9.17923 13.7559 9.5 14.9582 9.5 16.1819V19.5072C9.5 20.2189 10.2223 20.7028 10.8805 20.432L13.8805 19.1977C14.2553 19.0435 14.5 18.6783 14.5 18.273V13.8372C14.5 12.8089 14.8171 11.8056 15.408 10.964L19.8943 4.57465C20.3596 3.912 19.8856 3 19.0759 3Z" fill="black" />
											</svg>
										</span>
										Filter</a>
										
										<div class="menu menu-sub menu-sub-dropdown w-250px w-md-300px" data-kt-menu="true" id="kt_menu_61cf0dd026ae2">
											<div class="px-7 py-5">
												<div class="fs-5 text-dark fw-bolder">Filter Options</div>
											</div>
										
											<div class="separator border-gray-200"></div>
											
											<div class="px-7 py-5">
												<div class="mb-10">
													<label class="form-label fw-bold">Status:</label>
													
													<div>
														<select class="form-select form-select-solid" data-kt-select2="true" data-placeholder="Select option" data-dropdown-parent="#kt_menu_61cf0dd026ae2" data-allow-clear="true">
															<option></option>
															<option value="1">Approved</option>
															<option value="2">Pending</option>
															<option value="2">In Process</option>
															<option value="2">Rejected</option>
														</select>
													</div>
												</div>
											
												<div class="mb-10">
												
													<label class="form-label fw-bold">Member Type:</label>
									
													<div class="d-flex">
												
														<label class="form-check form-check-sm form-check-custom form-check-solid me-5">
															<input class="form-check-input" type="checkbox" value="1" />
															<span class="form-check-label">Author</span>
														</label>
													
														<label class="form-check form-check-sm form-check-custom form-check-solid">
															<input class="form-check-input" type="checkbox" value="2" checked="checked" />
															<span class="form-check-label">Customer</span>
														</label>
												
													</div>
													
												</div>
											
												<div class="mb-10">
													<label class="form-label fw-bold">Notifications:</label>
										
													<div class="form-check form-switch form-switch-sm form-check-custom form-check-solid">
														<input class="form-check-input" type="checkbox" value="" name="notifications" checked="checked" />
														<label class="form-check-label">Enabled</label>
													</div>
												
												</div>
											
												<div class="d-flex justify-content-end">
													<button type="reset" class="btn btn-sm btn-light btn-active-light-primary me-2" data-kt-menu-dismiss="true">Reset</button>
													<button type="submit" class="btn btn-sm btn-primary" data-kt-menu-dismiss="true">Apply</button>
												</div>
										
											</div>
										
										</div>
								
									</div>
							
									<a href="#" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_add_role" id="kt_modal_primary">Add Role</a>
							
								</div>
							
							</div>
						
						</div>
						<div class="content flex-column-fluid" id="kt_content">
							<div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-5 g-xl-9">
								{% for g in groups %}
								<div class="col-md-4">
									<div class="card card-flush h-md-100">
										<div class="card-header">
											<div class="card-title">
												<h2>{{g.name}}</h2>
											</div>
										</div>
										<div class="card-body pt-1">
											<div class="fw-bold text-gray-600 mb-5">Total users with this role: {{g.user.count}}</div>
										</div>
										<div class="card-footer flex-wrap pt-0">
											<a href="#" class="btn btn-light btn-active-primary my-1 me-2">View Role</a>
											<button type="button" class="btn btn-light btn-active-light-primary my-1" data-bs-toggle="modal" data-bs-target="#kt_modal_update_role">Edit</button>
										</div>
									</div>
								</div>
								{% endfor %}
								<div class="ol-md-4">
									<div class="card h-md-100">
										<div class="card-body d-flex flex-center">
											<button type="button" class="btn btn-clear d-flex flex-column flex-center" data-bs-toggle="modal" data-bs-target="#kt_modal_create_group">
												<img src="/metronic8/demo14/assets/media/illustrations/sketchy-1/4.png" alt="" class="mw-100 mh-150px mb-7">
												<div class="fw-bold fs-3 text-gray-600 text-hover-primary">Create a Group </div>
											</button>
										</div>
									</div>
								</div>
							
							</div>

							
							<div class="modal fade" id="kt_modal_create_group" tabindex="-1" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered mw-750px">
									<div class="modal-content">
										<div class="modal-header">
											<h2 class="fw-bold">Create a Group</h2>
											<div class="btn btn-icon btn-sm btn-active-icon-primary" data-bs-dismiss="modal" data-kt-roles-modal-action="close">
												<span class="svg-icon svg-icon-1">
													<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
														<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"></rect>
														<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"></rect>
													</svg>
												</span>
											</div>
										</div>
										<div class="modal-body scroll-y mx-lg-5 my-7">
											<form class="form" method="POST">
												<div class="d-flex flex-column scroll-y me-n7 pe-7" id="kt_modal_add_role_scroll" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_add_role_header" data-kt-scroll-wrappers="#kt_modal_add_role_scroll" data-kt-scroll-offset="300px">
													<div class="fv-row mb-10">
														<label class="fs-5 fw-bold form-label mb-2">
															<span class="required">Group name</span>
														</label>
														<input class="form-control form-control-solid" placeholder="Enter a role name"  id="name" name="name" />
													</div>
													<div class="fv-row">
														<label class="fs-5 fw-bold form-label mb-2">Role Permissions</label>
														<div class="table-responsive">
															<table class="table align-middle table-row-dashed fs-6 gy-5">
																<tbody class="text-gray-600 fw-semibold">
																	<div class="row">
																		{% for i in roles %}
																		<div class="col-md-4 mt-2">
																			<label class="form-check form-check-sm form-check-custom form-check-solid">
																				<input class="form-check-input" type="checkbox" value="{{i.id}}" id="rolesid[]" name="rolesid[]" />
																				<span class="form-check-label">{{i.text}}</span>
																			</label>
																		</div>
																		{% endfor %}
																	</div>
																</tbody>
															</table>
															<table class="table align-middle table-row-dashed fs-6 gy-5">
																<tbody class="text-gray-600 fw-semibold">
																			<tr>
																				<th></th>
																				<th>Full Name</th>
																				<th>Email</th>
																				<th>User Type</th>
																			</tr>
																			</thead>
																			<tbody>
																			{% for u in users %}
																			<tr>
																				<td><input class="form-check-input" type="checkbox" value="{{u.id}}" id="userid" name="userid" /></td>
																				<td>{{u.first_name}} {{u.last_name}}</td>
																				<td>{{u.email}}</td>
																				<td>{{u.account_type}}</td>
																			</tr>
																			{% endfor %}
																</tbody>
															</table>
														</div>
													</div>
												</div>
												<div class="text-center pt-15">
													<button type="button" onclick="AddGroupPermition()" class="btn btn-primary" data-kt-roles-modal-action="submit">
														<span class="indicator-label">Submit</span>
														<span class="indicator-progress">Please wait... 
														<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
													</button>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						<div class="modal fade" id="kt_modal_add_role" tabindex="-1" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered mw-750px">
								<div class="modal-content">
									<div class="modal-header">
										<h2 class="fw-bold">Create a Group</h2>
										<div class="btn btn-icon btn-sm btn-active-icon-primary" data-bs-dismiss="modal" data-kt-roles-modal-action="close">
											<span class="svg-icon svg-icon-1">
												<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
													<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"></rect>
													<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"></rect>
												</svg>
											</span>
										</div>
									</div>
									<div class="modal-body scroll-y mx-lg-5 my-7">
										<form class="form fv-plugins-bootstrap5 fv-plugins-framework" method="post">
											<div class="d-flex flex-column scroll-y me-n7 pe-7" id="kt_modal_add_role_scroll" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_add_role_header" data-kt-scroll-wrappers="#kt_modal_add_role_scroll" data-kt-scroll-offset="300px">
												<div class="fv-row mb-10 fv-plugins-icon-container">
													<label class="fs-5 fw-bold form-label mb-2">
														<span class="required">About Role</span>
													</label>
													<input type="text" class="form-control form-control-solid" placeholder="Enter a role name" id="about_group" name="about_group">
												</div>
												<div class="fv-row mb-10 fv-plugins-icon-container">
													<label class="fs-5 fw-bold form-label mb-2">
														<span class="required">Role Perameter</span>
													</label>
													<input type="text" class="form-control form-control-solid" placeholder="group_name,customer_delete,customer_update" id="group_pera" name="group_pera">
												</div>
											<div class="text-center pt-15">
												<button type="button" onclick="Addnewroll()" class="btn btn-primary" data-kt-roles-modal-action="submit">
													<span class="indicator-label">Submit</span>
													<span class="indicator-progress">Please wait... 
													<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
												</button>
											</div>
										</form>
									</div>
								</div>
							</div>
					</div>
					
							
						</div>
					</div>
{% endblock content %}